<%- include("../partials/header") %>

	<div class="row">
		<h1 style="text-align: center;">Edit</h1>
		<div style="width: 30%; margin: 25px auto;">
			<form action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT" method="post">
				<div class="form-group">
					<input type="text" class="form-control" value="<%= comment.title %>" name="comment[title]">
				</div>
				<div class="form-group">
				</div>
				<div class="form-group">
					<button class="btn btn-primary btn-block">Add it!</button>
				</div>
			</form>	
			<a href="/campgrounds">Go Back</a>
		</div>
	</div>

<%- include("../partials/footer") %>